
<div class="card mb-3" style="max-width: 9000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://seguridadparaelpc.files.wordpress.com/2018/09/chocolatey-instalar-programas-terminal-windows_ver001.jpg?w=1366&h=720&crop=1" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>LA TERMINAL (CMD)</b></h5>
          <p class="card-text">El Símbolo del sistema, también llamado CMD, forma parte de Windows y no puede ser desinstalado. Es una herramienta que, mediante comandos, permite realizar acciones avanzadas. Si bien puede parecer a la Terminal de GNU/Linux, el CMD no es tan potente.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>
<h4>Comandos de uso común <span class="badge bg-secondary">CMD</span></h4>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          CD
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Este comando es uno de los más usados en el Símbolo del sistema. CD sirve para cambiar de directorio y para mostrar el directorio actual. Si escribes CD .. (dos puntos) específicas que quieres ir al directorio superior. Para ir a una ruta exacta hay que introducir CD [/D] [unidad:][ruta].</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ECHO
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Sirve para mostrar o activar / desactivar el eco del comando.
            <br>
            ECHO [ON | OFF]
            <br>
            ECHO [mensaje]
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          DIR
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Con este comando puedes ver todos los subdirectorios y archivos de un directorio.</div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            DEL
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Para eliminar uno o más archivos hay que usar el comando DEL. Este comando cuenta con varios valores muy interesantes.
                <br>
                /P (antes de borrar un archivo pide confirmación)
                <br>
                /F (elimina a la fuerza los archivos de solo lectura)
                <br>
                /S (borra todos los archivos especificados de todos los subdirectorios)
                <br>
                /Q (no pide ningún tipo de confirmación sobre si es correcto eliminar el carácter comodín global)
                <br>
                /A (se usa para seleccionar los archivos que van a ser eliminados en base a los atributos)

          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            MKDIR
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Al igual que MD, con MKDIR puedes crear un directorio.
            <br>
            MKDIR [unidad:]ruta
          </div>
        </div>
    </div>
</div>